In [ ]:
import pandas as pd

In [ ]:
scores = {
    "name": ['Ray', 'Japhy', 'Zosa'],
    "city": ['San Francisco', 'San Francisco', 'Denver'],
    "score": [75, 92, 94]
}

In [ ]:
df = pd.DataFrame(scores)

In [ ]:
df

In [ ]:
df['score']

In [ ]:
df['name_city'] = df['name'] + '_' + df['city']

In [ ]:
df[df['score'] > 90]

In [ ]:
iris = pd.read_csv('Fontes/iris.csv')

In [ ]:
iris.shape

In [ ]:
iris.head(3)

In [ ]:
iris.tail(3)

In [ ]:
iris.dtypes

In [ ]:
iris.iloc[3:5]

In [ ]:
iris.loc[3,'sepal_length']

In [ ]:
iris.iloc[3, 0]

In [ ]:
iris.to_csv('iris-output.csv', index=False)

In [ ]:
emissions = pd.DataFrame({
    "country": ['China', 'United States', 'India'],
    "year": ['2018', '2018', '2018'],
    "co2_emissions": [10060000000.0, 5410000000.0, 2650000000.0]
})

In [ ]:
emissions

In [ ]:
pd.set_option('max_rows', 2)
emissions

In [ ]:
pd.set_option('max_columns', 2)
emissions

In [35]:
pd.options.display.float_format = '{:,.2f}'.format
emissions

         country  year     co2_emissions
0          China  2018 10,060,000,000.00
1  United States  2018  5,410,000,000.00
2          India  2018  2,650,000,000.00