In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Fontes/logs.csv.xz')

In [4]:
df.dtypes

origin         object
date           object
time           object
method         object
path           object
status_code     int64
size            int64
dtype: object

In [5]:
df[['date', 'time']].head()

         date      time
0  1995-07-01  00:00:01
1  1995-07-01  00:00:06
2  1995-07-01  00:00:09
3  1995-07-01  00:00:11
4  1995-07-01  00:00:11

In [6]:
df['time'].nunique()

6533

In [7]:
%%timeit
df['time'].nunique()

1.07 ms ± 106 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [8]:
df['time_ts'] = pd.to_datetime(df['time'])

C:\Users\igmoraes\AppData\Local\Temp\ipykernel_15864\2818078471.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['time_ts'] = pd.to_datetime(df['time'])

In [9]:
%%timeit
df['time'].nunique()

882 µs ± 35 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [10]:
1070/882

1.2131519274376417