In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Fontes/logs.csv.xz')

In [3]:
len(df)

50000

In [4]:
df.sample(5)

,origin,time,method,path,status_code,size
6616,128.159.143.37,1995-08-07T08:43:07,GET,/history/history.html,200,1602
36924,dd16-001.compuserve.com,1995-08-25T02:24:54,GET,/shuttle/missions/sts-71/movies/sts-71-launch.mpg,200,581632
19486,128.159.140.128,1995-08-14T16:14:42,GET,/images/USA-logosmall.gif,200,234
49823,163.205.121.3,1995-08-31T22:06:27,GET,/images/WORLD-logosmall.gif,200,669
11679,ao-n227-gw-34.arc.nasa.gov,1995-08-09T20:36:26,GET,/shuttle/missions/sts-69/images/images.html,200,2443

In [5]:
df['time'][48]

'1995-08-01T00:49:20'

In [6]:
def is_morning(ts):
    t = pd.to_datetime(ts)
    return t.hour >= 6 and t.hour < 12

In [9]:
len(df[df['time'].apply(is_morning)])

13004

In [13]:
%timeit len(df[df['time'].apply(is_morning)])

In [14]:
df = pd.read_csv('Fontes\logs.csv.xz', parse_dates=['time'])

In [15]:
len(df[(df['time'].dt.hour >= 6) & (df['time'].dt.hour < 12)])

13004

In [16]:
%timeit len(df[(df['time'].dt.hour >= 6) & (df['time'].dt.hour < 12)])

5.69 ms ± 178 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)