In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Fontes/taxi.csv.xz')

In [3]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

In [5]:
df.memory_usage()

Index                        132
VendorID                 3999992
tpep_pickup_datetime     3999992
tpep_dropoff_datetime    3999992
passenger_count          3999992
trip_distance            3999992
RatecodeID               3999992
store_and_fwd_flag       3999992
PULocationID             3999992
DOLocationID             3999992
payment_type             3999992
fare_amount              3999992
extra                    3999992
mta_tax                  3999992
tip_amount               3999992
tolls_amount             3999992
improvement_surcharge    3999992
total_amount             3999992
dtype: int64

In [6]:
df.memory_usage(deep=True)

Index                         132
VendorID                  3999992
tpep_pickup_datetime     37999924
tpep_dropoff_datetime    37999924
passenger_count           3999992
trip_distance             3999992
RatecodeID                3999992
store_and_fwd_flag       28999942
PULocationID              3999992
DOLocationID              3999992
payment_type              3999992
fare_amount               3999992
extra                     3999992
mta_tax                   3999992
tip_amount                3999992
tolls_amount              3999992
improvement_surcharge     3999992
total_amount              3999992
dtype: int64

In [9]:
mb = 2**20

In [10]:
df.memory_usage(deep=True)/mb

Index                     0.000126
VendorID                  3.814690
tpep_pickup_datetime     36.239552
tpep_dropoff_datetime    36.239552
passenger_count           3.814690
trip_distance             3.814690
RatecodeID                3.814690
store_and_fwd_flag       27.656500
PULocationID              3.814690
DOLocationID              3.814690
payment_type              3.814690
fare_amount               3.814690
extra                     3.814690
mta_tax                   3.814690
tip_amount                3.814690
tolls_amount              3.814690
improvement_surcharge     3.814690
total_amount              3.814690
dtype: float64

In [11]:
df.memory_usage(deep=True).sum()/mb

153.54138374328613

In [12]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

In [13]:
df['total_amount'].max()

456.35

In [14]:
df['total_amount'].memory_usage(deep=True)/mb

3.8148155212402344

In [15]:
ta32 = df['total_amount'].astype('float32')

In [16]:
ta32.memory_usage(deep=True)/mb

1.907470703125