In [2]:
import sqlite3
import pandas as pd

In [4]:
conn = sqlite3.connect('Fontes/bikes.db')
sql = '''
SELECT bike_id, duration 
FROM bike_rides
WHERE year == 2017 AND month < 4 
'''

In [6]:
df = pd.read_sql(sql, conn)

In [8]:
out  = df.groupby('bike_id')['duration'].quantile(.9)

In [9]:
print(out.sort_values(ascending=False)[:5])

bike_id
393    124.6
68     111.2
832    100.6
326     96.6
429     96.0
Name: duration, dtype: float64